=begin
#Linstor REST API

#Linstor REST API V1  The V1 rest api of Linstor should stay compatible and only additions are made to the API, If there are breaking changes or redesigned a new major REST API version will be issued.  Server runs per default on port `3370` on `::` ipv6 and ipv4.  To change the bind address or port you can use the following linstor client commands: ``` linstor controller set-property REST/bindAddress 127.0.0.1 linstor controller set-property REST/port 8080 ```  After setting this properties restart the controller and the new values should be used.  Changelog:  * 1.0.13   - Fixed broken volume definition modify `flags` handling   - Added flags to volume groups (create/modify) * 1.0.12   - Added WritecacheResource and WritecacheVolume schemas.   - Removed support for swordfish   - Added `with_storage_pool` to PhysicalStorageCreate post request, allowing to create linstor storage pools too   - Added `gross` flag for volume-definition size   - Added flags to VolumeDefinitionModify (so that `gross` flag can be changed)   - Added query-max-volume-size to resource-groups * 1.0.11   - Added /v1/physical-storage endpoint, that lets you query and create lvm/zfs pools   - Extended Node with list of supported providers and layers as well as lists of reasons for     unsupported providers and layers * 1.0.10   - Added `reports` array field to Volume object, contains ApiCallRcs for problems   - Changed `ResourceDefinitions` can now include `VolumeDefinitions` in `volume_definitions` field   - Added various filter query parameters * 1.0.9   - Added supports_snapshots to StoragePool * 1.0.8   - Added /v1/resource-groups   - Added /v1/resource-groups/{rscgrp}/volume-groups   - Moved AutoSelectFilter::place_count default indirectly to create resource implementation   - Added diskless_on_remaining to AutoSelectFilter   - Changed /v1/view/resources return type to ResourceWithVolumes     ResourceWithVolumes is now a child type of Resource (removed volumes from Resource) * 1.0.7   - Added ext_meta_stor_pool to DrbdVolume   - Added is_active field to the NetInterface type * 1.0.6   - Added /v1/resource-definitions/{rscName}/resources/{nodeName}/volumes/{vlmnr} PUT * 1.0.5   - Added `reports` field to StoragePool object * 1.0.4   - Added /v1/view/storage-pools overview path   - Added uuid fields for objects * 1.0.3   - Added /v1/view/resources overview path   - documentation schema extraction * 1.0.2   - Added /v1/storage-pool-definitions object path   - added NVME layer object type * 1.0.1   - Documentation review and updates   - no functional changes * 1.0.0   - Initial REST API v1 

The version of the OpenAPI document: 1.0.13
Contact: rene.peinthor@linbit.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.3.1

=end

require 'cgi'

module LinstorClient
  class DevelopersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Deletes a controller property
    # Delete a controller property
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiCallRc]
    def controller_property_delete(key, opts = {})
      data, _status_code, _headers = controller_property_delete_with_http_info(key, opts)
      data
    end

    # Deletes a controller property
    # Delete a controller property
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def controller_property_delete_with_http_info(key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.controller_property_delete ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling DevelopersApi.controller_property_delete"
      end
      # resource path
      local_var_path = '/v1/controller/properties/{key}'.sub('{' + 'key' + '}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.controller_property_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#controller_property_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # lists all controller properties
    # Lists all controller properties. 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, String>]
    def controller_property_list(opts = {})
      data, _status_code, _headers = controller_property_list_with_http_info(opts)
      data
    end

    # lists all controller properties
    # Lists all controller properties. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, String>, Integer, Hash)>] Hash<String, String> data, response status code and response headers
    def controller_property_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.controller_property_list ...'
      end
      # resource path
      local_var_path = '/v1/controller/properties'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.controller_property_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#controller_property_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # sets or modifies controller properties
    # Sets or modifies properties  Possible properties are: - `TcpPortAutoRange` - regex[`[0-9]+-[0-9]+`]      Range for auto-allocation of resource TCP ports  - `MinorNrAutoRange` - regex[`[0-9]+-[0-9]+`]      Range for auto-allocation of volume minor numbers  - `PeerSlotsNewResource` - range[`1-31`]      DRBD peer slots to allocate for newly created resources (default 7), the number of peer slots cannot be changed once the resource is created, so allow sufficient slots to increase redundancy in the future  - `StorDriver/DMStats` - boolean_true_false      Enable dmstats on lvm create  - `GlobSeqApiCalls` - boolean_true_false      Globally sequentialize all ctrl -> stlt api calls  - `REST/bindAddress` - string      Bind address of the REST API  - `REST/port` - range[`1-65535`]      TCP Port of the REST API  - `REST/enabled` - boolean_true_false      Bool if REST API should be enabled  - `NVMe/enabled` - enum     * rdma     * tcp  - `NVMe/enabled` - range[`1-65535`] - `NVMe/PrefNic` - regex[`^[a-zA-Z0-9_][a-zA-Z0-9_-]{2,47}$`]      Preferred network interface to use  - `StorDriver/WaitTimeoutAfterCreate` - regex[`[0-9]+`] - `sys/fs/blkio_throttle_read` - long      Sets the /sys/fs/cgroup/blkio/blkio.throttle.read_bps_device  - `sys/fs/blkio_throttle_write` - long      Sets the /sys/fs/cgroup/blkio/blkio.throttle.write_bps_device  - `SearchDomain` - string      Search domain node names, if no FQDN is given.  - `ExtCmdWaitTimeout` - long      Wait timeout for an external command in milliseconds  - `DrbdOptions/auto-quorum` - enum      Enables automatic setting of the 'quroum' and 'on-no-quroum' property      * io-error     * suspend-io     * disabled  - `DrbdOptions/auto-add-quorum-tiebreaker` - boolean_true_false      Enables automatic management (creation and deletion) of tie breaking resource  - `Writecache/PoolName` - regex[`^[a-zA-Z0-9_][a-zA-Z0-9_-]{2,47}$`]      Linstor storage pool name for writecache  - `Writecache/Size` - regex[`^100%|[0-9]{1,2}([.][0-9]*)?%|[1-9][0-9]{2,}$`]      Size of the writecache in % (0-100) or KiB otherwise  - `Writecache/Blocksize` - long      4096 is recommended; the maximum block size is the page size  - `Writecache/Options/StartSector` - long      offset from the start of cache device in 512-byte sectors  - `Writecache/Options/HighWatermark` - long      start writeback when the number of used blocks reach this watermark  - `Writecache/Options/LowWatermark` - long      stop writeback when the number of used blocks drops below this watermark  - `Writecache/Options/WritebackJobs` - long      limit the number of blocks that are in flight during writeback. Setting this value reduces writeback throughput, but it may improve latency of read requests  - `Writecache/Options/AutocommitBlocks` - long      when the application writes this amount of blocks without issuing the FLUSH request, the blocks are automatically commited  - `Writecache/Options/AutocommitTime` - long      autocommit time in milliseconds. The data is automatically commited if this time passes and no FLUSH request is received  - `Writecache/Options/Fua` - enum      \"On\" results in \"fua\" as argument, whereas the value \"Off\" results in \"nofua\" argument      * On     * Off  - `Writecache/Options/Additional` - string      Additional arguments passed through  - `DrbdOptions/Disk/read-balancing` - enum     * prefer-local     * prefer-remote     * round-robin     * least-pending     * when-congested-remote     * 32K-striping     * 64K-striping     * 128K-striping     * 256K-striping     * 512K-striping     * 1M-striping  - `DrbdOptions/Disk/on-io-error` - enum     * pass_on     * call-local-io-error     * detach  - `DrbdOptions/Disk/disk-drain` - boolean - `DrbdOptions/Disk/resync-after` - string - `DrbdOptions/Disk/disk-timeout` - range[`0-6000`] - `DrbdOptions/Disk/disable-write-same` - boolean - `DrbdOptions/Disk/rs-discard-granularity` - range[`0-1048576`] - `DrbdOptions/Disk/disk-flushes` - boolean - `DrbdOptions/Disk/al-extents` - range[`67-65534`] - `DrbdOptions/Disk/al-updates` - boolean - `DrbdOptions/Disk/md-flushes` - boolean - `DrbdOptions/Disk/disk-barrier` - boolean - `DrbdOptions/Disk/discard-zeroes-if-aligned` - boolean - `DrbdOptions/PeerDevice/c-fill-target` - range[`0-1048576`] - `DrbdOptions/PeerDevice/c-max-rate` - range[`250-4194304`] - `DrbdOptions/PeerDevice/resync-rate` - range[`1-8388608`] - `DrbdOptions/PeerDevice/c-delay-target` - range[`1-100`] - `DrbdOptions/PeerDevice/c-min-rate` - range[`0-4194304`] - `DrbdOptions/PeerDevice/bitmap` - boolean - `DrbdOptions/PeerDevice/c-plan-ahead` - range[`0-300`] - `DrbdOptions/Resource/peer-ack-delay` - range[`1-10000`] - `DrbdOptions/Resource/quorum-minimum-redundancy` - enum [`1-32`]     * off     * majority     * all  - `DrbdOptions/Resource/max-io-depth` - range[`4-4294967295`] - `DrbdOptions/Resource/auto-promote-timeout` - range[`0-600`] - `DrbdOptions/Resource/quorum` - enum [`1-32`]     * off     * majority     * all  - `DrbdOptions/Resource/on-no-data-accessible` - enum     * io-error     * suspend-io  - `DrbdOptions/Resource/auto-promote` - boolean - `DrbdOptions/Resource/cpu-mask` - string - `DrbdOptions/Resource/twopc-timeout` - range[`50-600`] - `DrbdOptions/Resource/twopc-retry-timeout` - range[`1-50`] - `DrbdOptions/Resource/peer-ack-window` - range[`2048-204800`] - `DrbdOptions/Resource/on-no-quorum` - enum     * io-error     * suspend-io  - `DrbdOptions/Net/max-epoch-size` - range[`1-20000`] - `DrbdOptions/Net/protocol` - enum     * A     * B     * C  - `DrbdOptions/Net/allow-two-primaries` - boolean - `DrbdOptions/Net/after-sb-0pri` - enum     * disconnect     * discard-younger-primary     * discard-older-primary     * discard-zero-changes     * discard-least-changes     * discard-local     * discard-remote  - `DrbdOptions/Net/ko-count` - range[`0-200`] - `DrbdOptions/Net/data-integrity-alg` - string - `DrbdOptions/Net/ping-timeout` - range[`1-300`] - `DrbdOptions/Net/sndbuf-size` - range[`0-10485760`] - `DrbdOptions/Net/transport` - string - `DrbdOptions/Net/rcvbuf-size` - range[`0-10485760`] - `DrbdOptions/Net/max-buffers` - range[`32-131072`] - `DrbdOptions/Net/fencing` - enum     * dont-care     * resource-only     * resource-and-stonith  - `DrbdOptions/Net/csums-alg` - string - `DrbdOptions/Net/always-asbp` - boolean - `DrbdOptions/Net/congestion-extents` - range[`67-65534`] - `DrbdOptions/Net/on-congestion` - enum     * block     * pull-ahead     * disconnect  - `DrbdOptions/Net/ping-int` - range[`1-120`] - `DrbdOptions/Net/rr-conflict` - enum     * disconnect     * call-pri-lost     * violently  - `DrbdOptions/Net/tcp-cork` - boolean - `DrbdOptions/Net/use-rle` - boolean - `DrbdOptions/Net/csums-after-crash-only` - boolean - `DrbdOptions/Net/socket-check-timeout` - range[`0-300`] - `DrbdOptions/Net/congestion-fill` - range[`0-20971520`] - `DrbdOptions/Net/cram-hmac-alg` - string - `DrbdOptions/Net/verify-alg` - string - `DrbdOptions/Net/shared-secret` - string - `DrbdOptions/Net/connect-int` - range[`1-120`] - `DrbdOptions/Net/timeout` - range[`1-600`] - `DrbdOptions/Net/after-sb-2pri` - enum     * disconnect     * call-pri-lost-after-sb     * violently-as0p  - `DrbdOptions/Net/after-sb-1pri` - enum     * disconnect     * consensus     * discard-secondary     * call-pri-lost-after-sb     * violently-as0p  - `DrbdOptions/Handlers/after-resync-target` - string - `DrbdOptions/Handlers/before-resync-target` - string - `DrbdOptions/Handlers/before-resync-source` - string - `DrbdOptions/Handlers/out-of-sync` - string - `DrbdOptions/Handlers/quorum-lost` - string - `DrbdOptions/Handlers/fence-peer` - string - `DrbdOptions/Handlers/unfence-peer` - string - `DrbdOptions/Handlers/initial-split-brain` - string - `DrbdOptions/Handlers/local-io-error` - string - `DrbdOptions/Handlers/pri-lost` - string - `DrbdOptions/Handlers/pri-lost-after-sb` - string - `DrbdOptions/Handlers/pri-on-incon-degr` - string - `DrbdOptions/Handlers/split-brain` - string 
    # @param [Hash] opts the optional parameters
    # @option opts [ControllerPropsModify] :controller_props_modify 
    # @return [ApiCallRc]
    def controller_property_modify(opts = {})
      data, _status_code, _headers = controller_property_modify_with_http_info(opts)
      data
    end

    # sets or modifies controller properties
    # Sets or modifies properties  Possible properties are: - &#x60;TcpPortAutoRange&#x60; - regex[&#x60;[0-9]+-[0-9]+&#x60;]      Range for auto-allocation of resource TCP ports  - &#x60;MinorNrAutoRange&#x60; - regex[&#x60;[0-9]+-[0-9]+&#x60;]      Range for auto-allocation of volume minor numbers  - &#x60;PeerSlotsNewResource&#x60; - range[&#x60;1-31&#x60;]      DRBD peer slots to allocate for newly created resources (default 7), the number of peer slots cannot be changed once the resource is created, so allow sufficient slots to increase redundancy in the future  - &#x60;StorDriver/DMStats&#x60; - boolean_true_false      Enable dmstats on lvm create  - &#x60;GlobSeqApiCalls&#x60; - boolean_true_false      Globally sequentialize all ctrl -&gt; stlt api calls  - &#x60;REST/bindAddress&#x60; - string      Bind address of the REST API  - &#x60;REST/port&#x60; - range[&#x60;1-65535&#x60;]      TCP Port of the REST API  - &#x60;REST/enabled&#x60; - boolean_true_false      Bool if REST API should be enabled  - &#x60;NVMe/enabled&#x60; - enum     * rdma     * tcp  - &#x60;NVMe/enabled&#x60; - range[&#x60;1-65535&#x60;] - &#x60;NVMe/PrefNic&#x60; - regex[&#x60;^[a-zA-Z0-9_][a-zA-Z0-9_-]{2,47}$&#x60;]      Preferred network interface to use  - &#x60;StorDriver/WaitTimeoutAfterCreate&#x60; - regex[&#x60;[0-9]+&#x60;] - &#x60;sys/fs/blkio_throttle_read&#x60; - long      Sets the /sys/fs/cgroup/blkio/blkio.throttle.read_bps_device  - &#x60;sys/fs/blkio_throttle_write&#x60; - long      Sets the /sys/fs/cgroup/blkio/blkio.throttle.write_bps_device  - &#x60;SearchDomain&#x60; - string      Search domain node names, if no FQDN is given.  - &#x60;ExtCmdWaitTimeout&#x60; - long      Wait timeout for an external command in milliseconds  - &#x60;DrbdOptions/auto-quorum&#x60; - enum      Enables automatic setting of the &#39;quroum&#39; and &#39;on-no-quroum&#39; property      * io-error     * suspend-io     * disabled  - &#x60;DrbdOptions/auto-add-quorum-tiebreaker&#x60; - boolean_true_false      Enables automatic management (creation and deletion) of tie breaking resource  - &#x60;Writecache/PoolName&#x60; - regex[&#x60;^[a-zA-Z0-9_][a-zA-Z0-9_-]{2,47}$&#x60;]      Linstor storage pool name for writecache  - &#x60;Writecache/Size&#x60; - regex[&#x60;^100%|[0-9]{1,2}([.][0-9]*)?%|[1-9][0-9]{2,}$&#x60;]      Size of the writecache in % (0-100) or KiB otherwise  - &#x60;Writecache/Blocksize&#x60; - long      4096 is recommended; the maximum block size is the page size  - &#x60;Writecache/Options/StartSector&#x60; - long      offset from the start of cache device in 512-byte sectors  - &#x60;Writecache/Options/HighWatermark&#x60; - long      start writeback when the number of used blocks reach this watermark  - &#x60;Writecache/Options/LowWatermark&#x60; - long      stop writeback when the number of used blocks drops below this watermark  - &#x60;Writecache/Options/WritebackJobs&#x60; - long      limit the number of blocks that are in flight during writeback. Setting this value reduces writeback throughput, but it may improve latency of read requests  - &#x60;Writecache/Options/AutocommitBlocks&#x60; - long      when the application writes this amount of blocks without issuing the FLUSH request, the blocks are automatically commited  - &#x60;Writecache/Options/AutocommitTime&#x60; - long      autocommit time in milliseconds. The data is automatically commited if this time passes and no FLUSH request is received  - &#x60;Writecache/Options/Fua&#x60; - enum      \&quot;On\&quot; results in \&quot;fua\&quot; as argument, whereas the value \&quot;Off\&quot; results in \&quot;nofua\&quot; argument      * On     * Off  - &#x60;Writecache/Options/Additional&#x60; - string      Additional arguments passed through  - &#x60;DrbdOptions/Disk/read-balancing&#x60; - enum     * prefer-local     * prefer-remote     * round-robin     * least-pending     * when-congested-remote     * 32K-striping     * 64K-striping     * 128K-striping     * 256K-striping     * 512K-striping     * 1M-striping  - &#x60;DrbdOptions/Disk/on-io-error&#x60; - enum     * pass_on     * call-local-io-error     * detach  - &#x60;DrbdOptions/Disk/disk-drain&#x60; - boolean - &#x60;DrbdOptions/Disk/resync-after&#x60; - string - &#x60;DrbdOptions/Disk/disk-timeout&#x60; - range[&#x60;0-6000&#x60;] - &#x60;DrbdOptions/Disk/disable-write-same&#x60; - boolean - &#x60;DrbdOptions/Disk/rs-discard-granularity&#x60; - range[&#x60;0-1048576&#x60;] - &#x60;DrbdOptions/Disk/disk-flushes&#x60; - boolean - &#x60;DrbdOptions/Disk/al-extents&#x60; - range[&#x60;67-65534&#x60;] - &#x60;DrbdOptions/Disk/al-updates&#x60; - boolean - &#x60;DrbdOptions/Disk/md-flushes&#x60; - boolean - &#x60;DrbdOptions/Disk/disk-barrier&#x60; - boolean - &#x60;DrbdOptions/Disk/discard-zeroes-if-aligned&#x60; - boolean - &#x60;DrbdOptions/PeerDevice/c-fill-target&#x60; - range[&#x60;0-1048576&#x60;] - &#x60;DrbdOptions/PeerDevice/c-max-rate&#x60; - range[&#x60;250-4194304&#x60;] - &#x60;DrbdOptions/PeerDevice/resync-rate&#x60; - range[&#x60;1-8388608&#x60;] - &#x60;DrbdOptions/PeerDevice/c-delay-target&#x60; - range[&#x60;1-100&#x60;] - &#x60;DrbdOptions/PeerDevice/c-min-rate&#x60; - range[&#x60;0-4194304&#x60;] - &#x60;DrbdOptions/PeerDevice/bitmap&#x60; - boolean - &#x60;DrbdOptions/PeerDevice/c-plan-ahead&#x60; - range[&#x60;0-300&#x60;] - &#x60;DrbdOptions/Resource/peer-ack-delay&#x60; - range[&#x60;1-10000&#x60;] - &#x60;DrbdOptions/Resource/quorum-minimum-redundancy&#x60; - enum [&#x60;1-32&#x60;]     * off     * majority     * all  - &#x60;DrbdOptions/Resource/max-io-depth&#x60; - range[&#x60;4-4294967295&#x60;] - &#x60;DrbdOptions/Resource/auto-promote-timeout&#x60; - range[&#x60;0-600&#x60;] - &#x60;DrbdOptions/Resource/quorum&#x60; - enum [&#x60;1-32&#x60;]     * off     * majority     * all  - &#x60;DrbdOptions/Resource/on-no-data-accessible&#x60; - enum     * io-error     * suspend-io  - &#x60;DrbdOptions/Resource/auto-promote&#x60; - boolean - &#x60;DrbdOptions/Resource/cpu-mask&#x60; - string - &#x60;DrbdOptions/Resource/twopc-timeout&#x60; - range[&#x60;50-600&#x60;] - &#x60;DrbdOptions/Resource/twopc-retry-timeout&#x60; - range[&#x60;1-50&#x60;] - &#x60;DrbdOptions/Resource/peer-ack-window&#x60; - range[&#x60;2048-204800&#x60;] - &#x60;DrbdOptions/Resource/on-no-quorum&#x60; - enum     * io-error     * suspend-io  - &#x60;DrbdOptions/Net/max-epoch-size&#x60; - range[&#x60;1-20000&#x60;] - &#x60;DrbdOptions/Net/protocol&#x60; - enum     * A     * B     * C  - &#x60;DrbdOptions/Net/allow-two-primaries&#x60; - boolean - &#x60;DrbdOptions/Net/after-sb-0pri&#x60; - enum     * disconnect     * discard-younger-primary     * discard-older-primary     * discard-zero-changes     * discard-least-changes     * discard-local     * discard-remote  - &#x60;DrbdOptions/Net/ko-count&#x60; - range[&#x60;0-200&#x60;] - &#x60;DrbdOptions/Net/data-integrity-alg&#x60; - string - &#x60;DrbdOptions/Net/ping-timeout&#x60; - range[&#x60;1-300&#x60;] - &#x60;DrbdOptions/Net/sndbuf-size&#x60; - range[&#x60;0-10485760&#x60;] - &#x60;DrbdOptions/Net/transport&#x60; - string - &#x60;DrbdOptions/Net/rcvbuf-size&#x60; - range[&#x60;0-10485760&#x60;] - &#x60;DrbdOptions/Net/max-buffers&#x60; - range[&#x60;32-131072&#x60;] - &#x60;DrbdOptions/Net/fencing&#x60; - enum     * dont-care     * resource-only     * resource-and-stonith  - &#x60;DrbdOptions/Net/csums-alg&#x60; - string - &#x60;DrbdOptions/Net/always-asbp&#x60; - boolean - &#x60;DrbdOptions/Net/congestion-extents&#x60; - range[&#x60;67-65534&#x60;] - &#x60;DrbdOptions/Net/on-congestion&#x60; - enum     * block     * pull-ahead     * disconnect  - &#x60;DrbdOptions/Net/ping-int&#x60; - range[&#x60;1-120&#x60;] - &#x60;DrbdOptions/Net/rr-conflict&#x60; - enum     * disconnect     * call-pri-lost     * violently  - &#x60;DrbdOptions/Net/tcp-cork&#x60; - boolean - &#x60;DrbdOptions/Net/use-rle&#x60; - boolean - &#x60;DrbdOptions/Net/csums-after-crash-only&#x60; - boolean - &#x60;DrbdOptions/Net/socket-check-timeout&#x60; - range[&#x60;0-300&#x60;] - &#x60;DrbdOptions/Net/congestion-fill&#x60; - range[&#x60;0-20971520&#x60;] - &#x60;DrbdOptions/Net/cram-hmac-alg&#x60; - string - &#x60;DrbdOptions/Net/verify-alg&#x60; - string - &#x60;DrbdOptions/Net/shared-secret&#x60; - string - &#x60;DrbdOptions/Net/connect-int&#x60; - range[&#x60;1-120&#x60;] - &#x60;DrbdOptions/Net/timeout&#x60; - range[&#x60;1-600&#x60;] - &#x60;DrbdOptions/Net/after-sb-2pri&#x60; - enum     * disconnect     * call-pri-lost-after-sb     * violently-as0p  - &#x60;DrbdOptions/Net/after-sb-1pri&#x60; - enum     * disconnect     * consensus     * discard-secondary     * call-pri-lost-after-sb     * violently-as0p  - &#x60;DrbdOptions/Handlers/after-resync-target&#x60; - string - &#x60;DrbdOptions/Handlers/before-resync-target&#x60; - string - &#x60;DrbdOptions/Handlers/before-resync-source&#x60; - string - &#x60;DrbdOptions/Handlers/out-of-sync&#x60; - string - &#x60;DrbdOptions/Handlers/quorum-lost&#x60; - string - &#x60;DrbdOptions/Handlers/fence-peer&#x60; - string - &#x60;DrbdOptions/Handlers/unfence-peer&#x60; - string - &#x60;DrbdOptions/Handlers/initial-split-brain&#x60; - string - &#x60;DrbdOptions/Handlers/local-io-error&#x60; - string - &#x60;DrbdOptions/Handlers/pri-lost&#x60; - string - &#x60;DrbdOptions/Handlers/pri-lost-after-sb&#x60; - string - &#x60;DrbdOptions/Handlers/pri-on-incon-degr&#x60; - string - &#x60;DrbdOptions/Handlers/split-brain&#x60; - string 
    # @param [Hash] opts the optional parameters
    # @option opts [ControllerPropsModify] :controller_props_modify 
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def controller_property_modify_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.controller_property_modify ...'
      end
      # resource path
      local_var_path = '/v1/controller/properties'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'controller_props_modify'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.controller_property_modify",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#controller_property_modify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # show controller version info
    # Show Controller version info 
    # @param [Hash] opts the optional parameters
    # @return [ControllerVersion]
    def controller_version(opts = {})
      data, _status_code, _headers = controller_version_with_http_info(opts)
      data
    end

    # show controller version info
    # Show Controller version info 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ControllerVersion, Integer, Hash)>] ControllerVersion data, response status code and response headers
    def controller_version_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.controller_version ...'
      end
      # resource path
      local_var_path = '/v1/controller/version'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ControllerVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.controller_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#controller_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # creates an LVM, LVM-thin or ZFS pool, optional VDO under it
    # Creates a LVM/LVM-thin, ZFS pool on the given device and if supported VDO(optional) under it. logcal_size_kib parameter is only needed if LVM-thin or vdo is used is used. Also note VDO can only used with LVM-fat. 
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @option opts [PhysicalStorageCreate] :physical_storage_create 
    # @return [ApiCallRc]
    def create_device_pool(node, opts = {})
      data, _status_code, _headers = create_device_pool_with_http_info(node, opts)
      data
    end

    # creates an LVM, LVM-thin or ZFS pool, optional VDO under it
    # Creates a LVM/LVM-thin, ZFS pool on the given device and if supported VDO(optional) under it. logcal_size_kib parameter is only needed if LVM-thin or vdo is used is used. Also note VDO can only used with LVM-fat. 
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @option opts [PhysicalStorageCreate] :physical_storage_create 
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def create_device_pool_with_http_info(node, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.create_device_pool ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling DevelopersApi.create_device_pool"
      end
      # resource path
      local_var_path = '/v1/physical-storage/{node}'.sub('{' + 'node' + '}', CGI.escape(node.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'physical_storage_create'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.create_device_pool",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#create_device_pool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # create a encryption passphrase
    # @param [Hash] opts the optional parameters
    # @option opts [PassPhraseCreate] :pass_phrase_create 
    # @return [ApiCallRc]
    def encryption_passphrase_create(opts = {})
      data, _status_code, _headers = encryption_passphrase_create_with_http_info(opts)
      data
    end

    # create a encryption passphrase
    # @param [Hash] opts the optional parameters
    # @option opts [PassPhraseCreate] :pass_phrase_create 
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def encryption_passphrase_create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.encryption_passphrase_create ...'
      end
      # resource path
      local_var_path = '/v1/encryption/passphrase'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'pass_phrase_create'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.encryption_passphrase_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#encryption_passphrase_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # enter the encryption passphrase
    # @param [Hash] opts the optional parameters
    # @option opts [String] :body 
    # @return [ApiCallRc]
    def encryption_passphrase_enter(opts = {})
      data, _status_code, _headers = encryption_passphrase_enter_with_http_info(opts)
      data
    end

    # enter the encryption passphrase
    # @param [Hash] opts the optional parameters
    # @option opts [String] :body 
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def encryption_passphrase_enter_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.encryption_passphrase_enter ...'
      end
      # resource path
      local_var_path = '/v1/encryption/passphrase'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.encryption_passphrase_enter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#encryption_passphrase_enter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # modifies the encryption passphrase
    # @param [Hash] opts the optional parameters
    # @option opts [PassPhraseCreate] :pass_phrase_create 
    # @return [ApiCallRc]
    def encryption_passphrase_modify(opts = {})
      data, _status_code, _headers = encryption_passphrase_modify_with_http_info(opts)
      data
    end

    # modifies the encryption passphrase
    # @param [Hash] opts the optional parameters
    # @option opts [PassPhraseCreate] :pass_phrase_create 
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def encryption_passphrase_modify_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.encryption_passphrase_modify ...'
      end
      # resource path
      local_var_path = '/v1/encryption/passphrase'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'pass_phrase_create'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.encryption_passphrase_modify",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#encryption_passphrase_modify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # list all error reports
    # List all error reports
    # @param [Hash] opts the optional parameters
    # @option opts [String] :node Only show error reports of this node
    # @option opts [Integer] :since Unix timestamp from the starting interval
    # @option opts [Integer] :to Unix timestamp to the ending interval
    # @option opts [Boolean] :with_content Include error report text in response. (default to false)
    # @option opts [Integer] :offset number of records to skip for pagination
    # @option opts [Integer] :limit maximum number of records to return
    # @return [Array<ErrorReport>]
    def error_report_list(opts = {})
      data, _status_code, _headers = error_report_list_with_http_info(opts)
      data
    end

    # list all error reports
    # List all error reports
    # @param [Hash] opts the optional parameters
    # @option opts [String] :node Only show error reports of this node
    # @option opts [Integer] :since Unix timestamp from the starting interval
    # @option opts [Integer] :to Unix timestamp to the ending interval
    # @option opts [Boolean] :with_content Include error report text in response.
    # @option opts [Integer] :offset number of records to skip for pagination
    # @option opts [Integer] :limit maximum number of records to return
    # @return [Array<(Array<ErrorReport>, Integer, Hash)>] Array<ErrorReport> data, response status code and response headers
    def error_report_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.error_report_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DevelopersApi.error_report_list, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DevelopersApi.error_report_list, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DevelopersApi.error_report_list, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/error-reports'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'node'] = opts[:'node'] if !opts[:'node'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'withContent'] = opts[:'with_content'] if !opts[:'with_content'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ErrorReport>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.error_report_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#error_report_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # query the specified reportid
    # Query the specified reportid
    # @param reportid [String] Error id to select
    # @param [Hash] opts the optional parameters
    # @option opts [String] :node Only show error reports of this node
    # @option opts [Integer] :since Unix timestamp from the starting interval
    # @option opts [Integer] :to Unix timestamp to the ending interval
    # @option opts [Boolean] :with_content Include error report text in response. (default to true)
    # @option opts [Integer] :offset number of records to skip for pagination
    # @option opts [Integer] :limit maximum number of records to return
    # @return [Array<ErrorReport>]
    def error_report_show(reportid, opts = {})
      data, _status_code, _headers = error_report_show_with_http_info(reportid, opts)
      data
    end

    # query the specified reportid
    # Query the specified reportid
    # @param reportid [String] Error id to select
    # @param [Hash] opts the optional parameters
    # @option opts [String] :node Only show error reports of this node
    # @option opts [Integer] :since Unix timestamp from the starting interval
    # @option opts [Integer] :to Unix timestamp to the ending interval
    # @option opts [Boolean] :with_content Include error report text in response.
    # @option opts [Integer] :offset number of records to skip for pagination
    # @option opts [Integer] :limit maximum number of records to return
    # @return [Array<(Array<ErrorReport>, Integer, Hash)>] Array<ErrorReport> data, response status code and response headers
    def error_report_show_with_http_info(reportid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.error_report_show ...'
      end
      # verify the required parameter 'reportid' is set
      if @api_client.config.client_side_validation && reportid.nil?
        fail ArgumentError, "Missing the required parameter 'reportid' when calling DevelopersApi.error_report_show"
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DevelopersApi.error_report_show, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DevelopersApi.error_report_show, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DevelopersApi.error_report_show, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/error-reports/{reportid}'.sub('{' + 'reportid' + '}', CGI.escape(reportid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'node'] = opts[:'node'] if !opts[:'node'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'withContent'] = opts[:'with_content'] if !opts[:'with_content'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ErrorReport>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.error_report_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#error_report_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # delete a key value store
    # Delete a key value store
    # @param instance [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiCallRc]
    def key_value_store_delete(instance, opts = {})
      data, _status_code, _headers = key_value_store_delete_with_http_info(instance, opts)
      data
    end

    # delete a key value store
    # Delete a key value store
    # @param instance [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def key_value_store_delete_with_http_info(instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.key_value_store_delete ...'
      end
      # verify the required parameter 'instance' is set
      if @api_client.config.client_side_validation && instance.nil?
        fail ArgumentError, "Missing the required parameter 'instance' when calling DevelopersApi.key_value_store_delete"
      end
      # resource path
      local_var_path = '/v1/key-value-store/{instance}'.sub('{' + 'instance' + '}', CGI.escape(instance.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.key_value_store_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#key_value_store_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # list all key value stores
    # List all known key value store instances
    # @param instance [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<KeyValueStore>]
    def key_value_store_list(instance, opts = {})
      data, _status_code, _headers = key_value_store_list_with_http_info(instance, opts)
      data
    end

    # list all key value stores
    # List all known key value store instances
    # @param instance [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<KeyValueStore>, Integer, Hash)>] Array<KeyValueStore> data, response status code and response headers
    def key_value_store_list_with_http_info(instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.key_value_store_list ...'
      end
      # verify the required parameter 'instance' is set
      if @api_client.config.client_side_validation && instance.nil?
        fail ArgumentError, "Missing the required parameter 'instance' when calling DevelopersApi.key_value_store_list"
      end
      # resource path
      local_var_path = '/v1/key-value-store/{instance}'.sub('{' + 'instance' + '}', CGI.escape(instance.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<KeyValueStore>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.key_value_store_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#key_value_store_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # modify a key value store
    # Modify a key value store
    # @param instance [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [KeyValueStoreModify] :key_value_store_modify 
    # @return [ApiCallRc]
    def key_value_store_modify(instance, opts = {})
      data, _status_code, _headers = key_value_store_modify_with_http_info(instance, opts)
      data
    end

    # modify a key value store
    # Modify a key value store
    # @param instance [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [KeyValueStoreModify] :key_value_store_modify 
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def key_value_store_modify_with_http_info(instance, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.key_value_store_modify ...'
      end
      # verify the required parameter 'instance' is set
      if @api_client.config.client_side_validation && instance.nil?
        fail ArgumentError, "Missing the required parameter 'instance' when calling DevelopersApi.key_value_store_modify"
      end
      # resource path
      local_var_path = '/v1/key-value-store/{instance}'.sub('{' + 'instance' + '}', CGI.escape(instance.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'key_value_store_modify'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.key_value_store_modify",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#key_value_store_modify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # list all key value stores
    # List all known key value store instances
    # @param [Hash] opts the optional parameters
    # @return [Array<KeyValueStore>]
    def key_value_stores_list(opts = {})
      data, _status_code, _headers = key_value_stores_list_with_http_info(opts)
      data
    end

    # list all key value stores
    # List all known key value store instances
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<KeyValueStore>, Integer, Hash)>] Array<KeyValueStore> data, response status code and response headers
    def key_value_stores_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.key_value_stores_list ...'
      end
      # resource path
      local_var_path = '/v1/key-value-store'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<KeyValueStore>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.key_value_stores_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#key_value_stores_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # create a netinterface on a node
    # Create a netinterface on a node  If satellite_port and satellite_encryption_type are given the netinterface can also work as connection to the controller 
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @option opts [NetInterface] :net_interface 
    # @return [ApiCallRc]
    def netinterface_create(node, opts = {})
      data, _status_code, _headers = netinterface_create_with_http_info(node, opts)
      data
    end

    # create a netinterface on a node
    # Create a netinterface on a node  If satellite_port and satellite_encryption_type are given the netinterface can also work as connection to the controller 
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @option opts [NetInterface] :net_interface 
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def netinterface_create_with_http_info(node, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.netinterface_create ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling DevelopersApi.netinterface_create"
      end
      # resource path
      local_var_path = '/v1/nodes/{node}/net-interfaces'.sub('{' + 'node' + '}', CGI.escape(node.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'net_interface'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.netinterface_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#netinterface_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # delete a netinterface from a node
    # Delete a netinterface from a node
    # @param node [String] node to use
    # @param netinterface [String] netinterface name to use
    # @param [Hash] opts the optional parameters
    # @return [ApiCallRc]
    def netinterface_delete(node, netinterface, opts = {})
      data, _status_code, _headers = netinterface_delete_with_http_info(node, netinterface, opts)
      data
    end

    # delete a netinterface from a node
    # Delete a netinterface from a node
    # @param node [String] node to use
    # @param netinterface [String] netinterface name to use
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def netinterface_delete_with_http_info(node, netinterface, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.netinterface_delete ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling DevelopersApi.netinterface_delete"
      end
      # verify the required parameter 'netinterface' is set
      if @api_client.config.client_side_validation && netinterface.nil?
        fail ArgumentError, "Missing the required parameter 'netinterface' when calling DevelopersApi.netinterface_delete"
      end
      # resource path
      local_var_path = '/v1/nodes/{node}/net-interfaces/{netinterface}'.sub('{' + 'node' + '}', CGI.escape(node.to_s)).sub('{' + 'netinterface' + '}', CGI.escape(netinterface.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.netinterface_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#netinterface_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # return the list of net-interfaces
    # Returns the list of netinterfaces for this node
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset number of records to skip for pagination
    # @option opts [Integer] :limit maximum number of records to return
    # @return [Array<NetInterface>]
    def netinterface_list(node, opts = {})
      data, _status_code, _headers = netinterface_list_with_http_info(node, opts)
      data
    end

    # return the list of net-interfaces
    # Returns the list of netinterfaces for this node
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset number of records to skip for pagination
    # @option opts [Integer] :limit maximum number of records to return
    # @return [Array<(Array<NetInterface>, Integer, Hash)>] Array<NetInterface> data, response status code and response headers
    def netinterface_list_with_http_info(node, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.netinterface_list ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling DevelopersApi.netinterface_list"
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DevelopersApi.netinterface_list, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DevelopersApi.netinterface_list, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DevelopersApi.netinterface_list, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/nodes/{node}/net-interfaces'.sub('{' + 'node' + '}', CGI.escape(node.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<NetInterface>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.netinterface_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#netinterface_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # modify a netinterface from a node
    # Modify a netinterface from a node
    # @param node [String] node to use
    # @param netinterface [String] netinterface name to use
    # @param [Hash] opts the optional parameters
    # @option opts [NetInterface] :net_interface 
    # @return [ApiCallRc]
    def netinterface_modified(node, netinterface, opts = {})
      data, _status_code, _headers = netinterface_modified_with_http_info(node, netinterface, opts)
      data
    end

    # modify a netinterface from a node
    # Modify a netinterface from a node
    # @param node [String] node to use
    # @param netinterface [String] netinterface name to use
    # @param [Hash] opts the optional parameters
    # @option opts [NetInterface] :net_interface 
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def netinterface_modified_with_http_info(node, netinterface, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.netinterface_modified ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling DevelopersApi.netinterface_modified"
      end
      # verify the required parameter 'netinterface' is set
      if @api_client.config.client_side_validation && netinterface.nil?
        fail ArgumentError, "Missing the required parameter 'netinterface' when calling DevelopersApi.netinterface_modified"
      end
      # resource path
      local_var_path = '/v1/nodes/{node}/net-interfaces/{netinterface}'.sub('{' + 'node' + '}', CGI.escape(node.to_s)).sub('{' + 'netinterface' + '}', CGI.escape(netinterface.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'net_interface'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.netinterface_modified",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#netinterface_modified\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # add a node to Linstor
    # Adds a node to Linstor  If only one net-interface is specified and it is does not specify a `satellite_port` it will apply the default port and `satellite_encryption_type` for this net-interface. 
    # @param [Hash] opts the optional parameters
    # @option opts [Node] :node Node to add to Linstor
    # @return [ApiCallRc]
    def node_add(opts = {})
      data, _status_code, _headers = node_add_with_http_info(opts)
      data
    end

    # add a node to Linstor
    # Adds a node to Linstor  If only one net-interface is specified and it is does not specify a &#x60;satellite_port&#x60; it will apply the default port and &#x60;satellite_encryption_type&#x60; for this net-interface. 
    # @param [Hash] opts the optional parameters
    # @option opts [Node] :node Node to add to Linstor
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def node_add_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.node_add ...'
      end
      # resource path
      local_var_path = '/v1/nodes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'node'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.node_add",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#node_add\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # delete a node
    # Delete a node from Linstor
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @return [ApiCallRc]
    def node_delete(node, opts = {})
      data, _status_code, _headers = node_delete_with_http_info(node, opts)
      data
    end

    # delete a node
    # Delete a node from Linstor
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def node_delete_with_http_info(node, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.node_delete ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling DevelopersApi.node_delete"
      end
      # resource path
      local_var_path = '/v1/nodes/{node}'.sub('{' + 'node' + '}', CGI.escape(node.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.node_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#node_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists nodes registered to the controller
    # Returns an array of all nodes registered to Linstor. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset number of records to skip for pagination
    # @option opts [Integer] :limit maximum number of records to return
    # @return [Array<Node>]
    def node_list(opts = {})
      data, _status_code, _headers = node_list_with_http_info(opts)
      data
    end

    # Lists nodes registered to the controller
    # Returns an array of all nodes registered to Linstor. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset number of records to skip for pagination
    # @option opts [Integer] :limit maximum number of records to return
    # @return [Array<(Array<Node>, Integer, Hash)>] Array<Node> data, response status code and response headers
    def node_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.node_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DevelopersApi.node_list, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DevelopersApi.node_list, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DevelopersApi.node_list, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/nodes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Node>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.node_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#node_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # delete an unrecoverable node
    # Delete an unrecoverable node
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @return [ApiCallRc]
    def node_lost(node, opts = {})
      data, _status_code, _headers = node_lost_with_http_info(node, opts)
      data
    end

    # delete an unrecoverable node
    # Delete an unrecoverable node
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def node_lost_with_http_info(node, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.node_lost ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling DevelopersApi.node_lost"
      end
      # resource path
      local_var_path = '/v1/nodes/{node}/lost'.sub('{' + 'node' + '}', CGI.escape(node.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.node_lost",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#node_lost\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # modify a node
    # Sets or modifies properties  Possible properties are: - `PrefNic` - regex[`^[a-zA-Z0-9_][a-zA-Z0-9_-]{2,47}$`]      Preferred network interface to use  - `StorPoolName` - regex[`^[a-zA-Z0-9_][a-zA-Z0-9_-]{2,47}$`]      Linstor storage pool name to use.  - `StorPoolNameDrbdMeta` - regex[`^|.internal|[a-zA-Z0-9_][a-zA-Z0-9_-]{2,47}$`]      Linstor storage pool name to use.  - `DrbdMetaType` - enum     * external     * internal  - `sys/fs/blkio_throttle_read` - long      Sets the /sys/fs/cgroup/blkio/blkio.throttle.read_bps_device  - `sys/fs/blkio_throttle_write` - long      Sets the /sys/fs/cgroup/blkio/blkio.throttle.write_bps_device  - `Writecache/PoolName` - regex[`^[a-zA-Z0-9_][a-zA-Z0-9_-]{2,47}$`]      Linstor storage pool name for writecache  - `Writecache/Size` - regex[`^100%|[0-9]{1,2}([.][0-9]*)?%|[1-9][0-9]{2,}$`]      Size of the writecache in % (0-100) or KiB otherwise  - `Writecache/Blocksize` - long      4096 is recommended; the maximum block size is the page size  - `Writecache/Options/StartSector` - long      offset from the start of cache device in 512-byte sectors  - `Writecache/Options/HighWatermark` - long      start writeback when the number of used blocks reach this watermark  - `Writecache/Options/LowWatermark` - long      stop writeback when the number of used blocks drops below this watermark  - `Writecache/Options/WritebackJobs` - long      limit the number of blocks that are in flight during writeback. Setting this value reduces writeback throughput, but it may improve latency of read requests  - `Writecache/Options/AutocommitBlocks` - long      when the application writes this amount of blocks without issuing the FLUSH request, the blocks are automatically commited  - `Writecache/Options/AutocommitTime` - long      autocommit time in milliseconds. The data is automatically commited if this time passes and no FLUSH request is received  - `Writecache/Options/Fua` - enum      \"On\" results in \"fua\" as argument, whereas the value \"Off\" results in \"nofua\" argument      * On     * Off  - `Writecache/Options/Additional` - string      Additional arguments passed through  
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @option opts [NodeModify] :node_modify 
    # @return [ApiCallRc]
    def node_modify(node, opts = {})
      data, _status_code, _headers = node_modify_with_http_info(node, opts)
      data
    end

    # modify a node
    # Sets or modifies properties  Possible properties are: - &#x60;PrefNic&#x60; - regex[&#x60;^[a-zA-Z0-9_][a-zA-Z0-9_-]{2,47}$&#x60;]      Preferred network interface to use  - &#x60;StorPoolName&#x60; - regex[&#x60;^[a-zA-Z0-9_][a-zA-Z0-9_-]{2,47}$&#x60;]      Linstor storage pool name to use.  - &#x60;StorPoolNameDrbdMeta&#x60; - regex[&#x60;^|.internal|[a-zA-Z0-9_][a-zA-Z0-9_-]{2,47}$&#x60;]      Linstor storage pool name to use.  - &#x60;DrbdMetaType&#x60; - enum     * external     * internal  - &#x60;sys/fs/blkio_throttle_read&#x60; - long      Sets the /sys/fs/cgroup/blkio/blkio.throttle.read_bps_device  - &#x60;sys/fs/blkio_throttle_write&#x60; - long      Sets the /sys/fs/cgroup/blkio/blkio.throttle.write_bps_device  - &#x60;Writecache/PoolName&#x60; - regex[&#x60;^[a-zA-Z0-9_][a-zA-Z0-9_-]{2,47}$&#x60;]      Linstor storage pool name for writecache  - &#x60;Writecache/Size&#x60; - regex[&#x60;^100%|[0-9]{1,2}([.][0-9]*)?%|[1-9][0-9]{2,}$&#x60;]      Size of the writecache in % (0-100) or KiB otherwise  - &#x60;Writecache/Blocksize&#x60; - long      4096 is recommended; the maximum block size is the page size  - &#x60;Writecache/Options/StartSector&#x60; - long      offset from the start of cache device in 512-byte sectors  - &#x60;Writecache/Options/HighWatermark&#x60; - long      start writeback when the number of used blocks reach this watermark  - &#x60;Writecache/Options/LowWatermark&#x60; - long      stop writeback when the number of used blocks drops below this watermark  - &#x60;Writecache/Options/WritebackJobs&#x60; - long      limit the number of blocks that are in flight during writeback. Setting this value reduces writeback throughput, but it may improve latency of read requests  - &#x60;Writecache/Options/AutocommitBlocks&#x60; - long      when the application writes this amount of blocks without issuing the FLUSH request, the blocks are automatically commited  - &#x60;Writecache/Options/AutocommitTime&#x60; - long      autocommit time in milliseconds. The data is automatically commited if this time passes and no FLUSH request is received  - &#x60;Writecache/Options/Fua&#x60; - enum      \&quot;On\&quot; results in \&quot;fua\&quot; as argument, whereas the value \&quot;Off\&quot; results in \&quot;nofua\&quot; argument      * On     * Off  - &#x60;Writecache/Options/Additional&#x60; - string      Additional arguments passed through  
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @option opts [NodeModify] :node_modify 
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def node_modify_with_http_info(node, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.node_modify ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling DevelopersApi.node_modify"
      end
      # resource path
      local_var_path = '/v1/nodes/{node}'.sub('{' + 'node' + '}', CGI.escape(node.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'node_modify'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.node_modify",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#node_modify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # reconnect a node to the controller
    # Reconnect a node to the controller
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @return [ApiCallRc]
    def node_reconnect(node, opts = {})
      data, _status_code, _headers = node_reconnect_with_http_info(node, opts)
      data
    end

    # reconnect a node to the controller
    # Reconnect a node to the controller
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def node_reconnect_with_http_info(node, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.node_reconnect ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling DevelopersApi.node_reconnect"
      end
      # resource path
      local_var_path = '/v1/nodes/{node}/reconnect'.sub('{' + 'node' + '}', CGI.escape(node.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.node_reconnect",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#node_reconnect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # creates a new storage pool on this node
    # Creates a new storage pool on this node.  `provider_kind` has to be specified and additional to that the linked `StorDriver` property that has the value to the backing pool:    * `LVM`: `StorDriver/LvmVg`   * `LVM_THIN`: `StorDriver/LvmVg` and `StorDriver/ThinPool`   * `ZFS`: `StorDriver/ZPool`   * `ZFS_THIN`: `StorDriver/ZPoolThin`   * `DISKLESS`: Does not need a property as it has no backing pool 
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @option opts [StoragePool] :storage_pool 
    # @return [ApiCallRc]
    def node_storage_pool_create(node, opts = {})
      data, _status_code, _headers = node_storage_pool_create_with_http_info(node, opts)
      data
    end

    # creates a new storage pool on this node
    # Creates a new storage pool on this node.  &#x60;provider_kind&#x60; has to be specified and additional to that the linked &#x60;StorDriver&#x60; property that has the value to the backing pool:    * &#x60;LVM&#x60;: &#x60;StorDriver/LvmVg&#x60;   * &#x60;LVM_THIN&#x60;: &#x60;StorDriver/LvmVg&#x60; and &#x60;StorDriver/ThinPool&#x60;   * &#x60;ZFS&#x60;: &#x60;StorDriver/ZPool&#x60;   * &#x60;ZFS_THIN&#x60;: &#x60;StorDriver/ZPoolThin&#x60;   * &#x60;DISKLESS&#x60;: Does not need a property as it has no backing pool 
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @option opts [StoragePool] :storage_pool 
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def node_storage_pool_create_with_http_info(node, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.node_storage_pool_create ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling DevelopersApi.node_storage_pool_create"
      end
      # resource path
      local_var_path = '/v1/nodes/{node}/storage-pools'.sub('{' + 'node' + '}', CGI.escape(node.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'storage_pool'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.node_storage_pool_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#node_storage_pool_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # delete a storage pool
    # Delete a storage pool
    # @param node [String] node to use
    # @param storagepool [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiCallRc]
    def node_storage_pool_delete(node, storagepool, opts = {})
      data, _status_code, _headers = node_storage_pool_delete_with_http_info(node, storagepool, opts)
      data
    end

    # delete a storage pool
    # Delete a storage pool
    # @param node [String] node to use
    # @param storagepool [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiCallRc, Integer, Hash)>] ApiCallRc data, response status code and response headers
    def node_storage_pool_delete_with_http_info(node, storagepool, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.node_storage_pool_delete ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling DevelopersApi.node_storage_pool_delete"
      end
      # verify the required parameter 'storagepool' is set
      if @api_client.config.client_side_validation && storagepool.nil?
        fail ArgumentError, "Missing the required parameter 'storagepool' when calling DevelopersApi.node_storage_pool_delete"
      end
      # resource path
      local_var_path = '/v1/nodes/{node}/storage-pools/{storagepool}'.sub('{' + 'node' + '}', CGI.escape(node.to_s)).sub('{' + 'storagepool' + '}', CGI.escape(storagepool.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCallRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DevelopersApi.node_storage_pool_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DevelopersApi#node_storage_pool_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # lists all storage pools for a node
    # Lists all storage pools of a node
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :nodes Filter only for the specified nodes, if not specified no filtering.
    # @option opts [Array<String>] :storage_pools Filter only for the specified storage pools, if not specified no filtering.
    # @option opts [Integer] :offset number of records to skip for pagination
    # @option opts [Integer] :limit maximum number of records to return
    # @return [Array<StoragePool>]
    def node_storage_pool_list(node, opts = {})
      data, _status_code, _headers = node_storage_pool_list_with_http_info(node, opts)
      data
    end

    # lists all storage pools for a node
    # Lists all storage pools of a node
    # @param node [String] node to use
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :nodes Filter only for the specified nodes, if not specified no filtering.
    # @option opts [Array<String>] :storage_pools Filter only for the specified storage pools, if not specified no filtering.
    # @option opts [Integer] :offset number of records to skip for pagination
    # @option opts [Integer] :limit maximum number of records to return
    # @return [Array<(Array<StoragePool>, Integer, Hash)>] Array<StoragePool> data, response status code and response headers
    def node_storage_pool_list_with_http_info(node, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DevelopersApi.node_storage_pool_list ...'
      end
      # verify the required parameter 'node' is set
      if @api_client.config.client_side_validation && node.nil?
        fail ArgumentError, "Missing the required parameter 'node' when calling DevelopersApi.node_storage_pool_list"
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DevelopersApi.node_storage_pool_list, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
[...]
